* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.auth-page{
    background-color: rgb(252, 252, 252);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-card{
    width: 400px;
    padding: 35px;
    background: rgb(248, 247, 226);
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}
.from-group{
    margin-bottom: 18px;
    text-align: left;

}
.item-justify{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    align-items: center;
}
.btnlogin{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: #3b6fe6;
    color: white;
    cursor: pointer;
    margin: 20px 0 15px;
}
.auth-switch{
    margin-top: 15px;
    font-size: 14px;
}
.auth-brand img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 15px;
}
.auth-card h3{
    text-align: center;
    margin: 15px 0 20px;
    font-size: 24px;
}
.form-label{
    display: block;
    margin: 6px;
    font-size: 16px;
    text-align: left;
    color: rgb(136, 136, 134)
}
.form-input{
    width: 100%;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
a {
    color: #3378ff;
    text-decoration: none;
    background-color: transparent;
}
