/*Phần header*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.header.fixed {
  position: sticky;
  top: -16px;
}
.logo {
  flex-shrink: 0;
}
.logo img {
  height: 70px;
}
.gio_hang {
  padding: 20px;
  flex-shrink: 0;
}
.gio_hang img {
  width: 48px;
  padding: 10px;
  cursor: pointer;
}
header {
  z-index: 100;
}
.container {
  background-color: rgb(248, 247, 226);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav a {
  text-decoration: none;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
  color: black;
}
.nav a:hover {
  text-shadow: 1px 0;
  transition: 0.5s ease;
}
.nav-mobile-btn,
.nav-input {
  display: none;
}
.search-box {
  display: flex;
  align-items: center;
  border: 1px solid blue;
}

.search-box input {
  height: 50px;
  font-size: 18px;

  box-sizing: border-box;
  transition: all 0.6s ease-out;
}

.search-box input[type="text"] {
  width: 200px;
}

.search-box input[type="submit"] {
  width: 100px;
  cursor: pointer;
}
.search-box input[type="submit"]:hover {
  background-color: red;
}
.nav-mobile-btn,
.nav-input {
  display: none;
}
/*phần main*/

.item {
  max-width: 1500px;
  margin: 100px auto;
  padding: 0 20px;

  display: grid;
  grid-template-columns: 1fr 1.4fr 1fr;
  gap: 20px;
}
.left-item {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  background-color: #ebeeed;
  border-radius: 20px;
  padding: 10px;
}

.main-image {
  width: 100%;
  max-width: 320px; /* giới hạn tối đa */
  margin: 0 auto;

  overflow: hidden;
}

.main-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.main-image img:hover {
  transform: translateY(-5px);
  transition: 0.3s;
  width: 110%;
  margin-left: -5%;
}

.center-item {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.info {
  /* khối để xác định kiểu chữ, phông chữ của tt khi mua sách*/
  width: 100%;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
}
.info h2:nth-of-type(2) {
  font-size: 13px;
  opacity: 30%;
}
.info span {
  font-size: 20px;
  padding: 10px;
  align-items: center;
}
.info h2:last-of-type {
  color: red;
}
.btn {
  /*nút + - */
  width: 9%;
  height: 12%;
  font-size: 18px;
  background-color: yellow;
}
.btn:hover {
  scale: 0.9;
  cursor: pointer;
}
.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sub_btn {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.sub_btn button {
  width: 49%;
  height: 45px;
  font-size: 16px;
}
.them {
  align-items: center;
  justify-content: center;
  background-color: orange;
  color: white;
  cursor: pointer;
  border: none;
}
.sub_btn .them:hover {
  transform: translateY(-3px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  background-color: darkorange;
}

.mua {
  align-items: center;
  justify-content: center;
  background-color: blue;
  color: white;
  cursor: pointer;
  border: none;
}
.sub_btn .mua:hover {
  transform: translateY(-3px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  background-color: darkblue;
}
.right-item {
  width: auto;
  padding: 10px;
  border: 2px dashed violet;
  border-radius: 12px;
  overflow: hidden;
}

.right-header {
  /*tiêu đề của khối bên phải*/
  background-color: cornflowerblue;
  padding: 4px;
  border-bottom: 2px solid #ccc;
  color: white;
  text-align: center;
}
.right-item h3 {
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 2.5px;
  text-align: justify;
}

/*section mô tả sản phẩm */
.bottom {
  display: flex;
}
.describe {
  width: 74%;
  margin-left: 20px;
  padding: 10px;
}
.describe h2 {
  font-size: 25px;
  padding-bottom: 5px;
  color: red;
  font-weight: bolder;
  border-bottom: 1px solid black;
}
.describe p {
  line-height: 1.5;
  font-size: 18px;
  text-align: justify;
}
.introduction {
  flex: 1;
  margin: 20px;
  border: 2.5px dotted cornflowerblue;
  font-style: italic;
  padding: 20px;
}

/*section các sản phẩm liên quan */
.relative-product {
  border-top: 3px solid violet;
  padding: 30px;
  color: red;
}
.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;

  max-width: 1500px;
  margin: 0 auto;
  padding: 10px;
}

.book-card {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  text-decoration: none;

  background: #fff;
  transition: 0.3s;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-card img {
  width: 100%;
  max-width: 140px;
  aspect-ratio: 3 / 4;
  object-fit: contain;
}

.book-card h3 {
  color: black;
  font-size: 16px;
  margin: 10px 0 5px;
}

.book-card p {
  color: red;
  font-weight: bold;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
/*phần footer*/
footer {
  background-color: rgb(248, 247, 226);
}
.footer {
  background: rgb(191, 216, 144);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

.footer-lienhe {
  justify-content: space-between;
  display: flex;
  text-align: center;
  padding: auto;
  gap: 15px;
}

.footer-lienhe img {
  width: 30px;
  margin-left: 10px;
  padding: 5px;
}

.popup-button {
  position: fixed;
  bottom: 130px;
  right: 20px;
}

.popup-button img {
  width: 50px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 80%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.contact {
  text-align: center;
  padding-bottom: 24px;
}

@media screen and (max-width: 850px) {
  /*header*/
  .header .container {
    flex-wrap: wrap;
    position: relative;
  }
  .nav-mobile-btn {
    display: inline-block;
    cursor: pointer;
    padding: 5px;

    order: 0;
    margin-right: auto;
  }
  .nav {
    display: none;
    width: 100%;
    flex-direction: column;
    text-align: center;
    background-color: rgb(246, 243, 195);
    border-top: 1px solid #eee;
    padding-top: 10px;
    order: 3;
    animation: fadeIn 0.3s ease;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .nav-input:checked ~ .nav {
    display: flex;
  }
  .nav a {
    display: block;
    padding: 15px;
    border-bottom: 1px solid #f1f1f1;
  }
  .logo {
    order: 0;
  }
  .gio_hang {
    order: 0;
    margin-left: auto;
  }
  .search-box {
    width: 95%;
    margin: 20px auto;
    justify-content: center;
  }
  .search-box input[type="text"] {
    width: 70%;
  }

  .search-box input[type="submit"] {
    width: 30%;
  }
  /*main*/
  .btn {
    width: 35px;
  }
  /*Footer*/
  .footer-lienhe {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .footer-lienhe > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .book-card {
    width: 100%;
  }

  .main-image {
    max-width: 240px;
  }

  .info span {
    font-size: 18px;
  }

  .sub_btn {
    flex-direction: column;
  }

  .sub_btn button {
    width: 100%;
  }
}
